*{
    margin:0;
    
}
body{
    background-color: #E5EBF0;
}

/*Estilos de la barra de navegacion*/

header {
    width: 100%;
}

ul {
    padding: 0;
    list-style: none;
}

.twitter {
    display: flex;
    height: 46px;
    align-items: center;
    padding: 0 10px;
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 5px;
    box-shadow: 5px 10px 20px -20px rgba(85, 172, 238, 1);
    color: rgba(117, 117, 117, 1);
    background-color: #ffffff;
}

.twitter li {
    cursor: pointer;
}

.twitter li:hover {
    color:#519FF2;
}

.twitter_bird {
    margin-left: auto;
    margin-right: auto;
    color: #519FF2;
    font-size: 1.3em;
}

.twitter li:not(:last-child):not(.twitter_bird) {
    margin-right: 10px;
}

.twitter li i:not(.fa-twitter):not(.fa-search):not(.user) {
    margin-right: 3px;
}

.twitter li>button {
    font-size: 0.8em;
    border: 0;
    background: #519FF2;
    color: #fff;
    border-radius: 100px;
}
.user{
    max-width: 32px;
    max-height: 32px;
}


/*Sección Developer & Tweets*/

.bio_tweets{
    display: flex;
    align-items:stretch;
    padding-top: 1em;
    padding-left: 3em;
    padding-right: 3em; 
}
    /*Seccion de Developer Bio*/
.developer {
    background-color: #FFFFFF;
    width: 15em;
    height: 20em;
    border-radius: 3%;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(117, 117, 117, 1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(117, 117, 117, 1);
    box-shadow: 3px 3px 5px 0px rgba(117, 117, 117, 1);
    z-index: 100;
}

.developer div:first-child {
    background-color: #519FF2;
    width: 100%;
    height: 45%;
    border-top-right-radius: 3%;
    border-top-left-radius: 3%;
    background-image: linear-gradient(#519FF2,#ffffff);
    
    /* border: 1px blue solid; */
}

.developer div img {
    position: relative;
    top: 70%;
    left: 2%;
    border: 10% white solid;
    border-radius: 50%;
    /* border: 1px blue solid; */
}

.datosCoders {
    position: relative;
    left: 30%;
    top: 2%;
    font-size: 100%;
    font-weight: bold;
}

.datosCoders p:nth-child(2) {
    color: gray;
}

.datos li {
    float: left;
    list-style: none;
    margin: 5%;
}

.datos li a {
    text-decoration: none;
    color: gray;
    font-weight: bold;
}

.datos li a p {
    color: #519FF2;
}

    /* Seccion Formulario de Tweets*/

.form {
    display: flex;
    flex: 0 0 45%;
    align-items: stretch;
    max-height: 100%;
    margin-left: 3em;
    background-color: #FFFFFF;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(117, 117, 117, 1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(117, 117, 117, 1);
    box-shadow: 3px 3px 5px 0px rgba(117, 117, 117, 1);
    padding: 1em;
    flex-direction: column;
}

textarea {
    font-family: 'Anonymous Pro', monospace;
    font-size: 26px;
    font-weight: bold;
    resize: none;
    border: none;
    outline: none;
    overflow-y: hidden;
    transition: height 0.6s ease-in;
    border-radius: 5px;
    border: 2px #6AD2F3 solid;
    height: 20%;
    max-height: 30%;
    margin-bottom: 1em;
}

hr {
    margin-bottom: 1em;
    border-color: gray;
}


.controles {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top : auto;
    margin-bottom: 2em;
}

.controles button {
    margin-left: auto;
    width: 90px;
    height: 40px;
    background-color: #519FF2;
    border-radius: 20px;
    font-family: 'Anonymous Pro', monospace;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
}

.controles button:disabled {
    opacity: 0.5;
}

.controles p{
    font-family: 'Anonymous Pro', monospace;
    font-size: 30px;
    font-weight: bold;
    color: #0759A5;
}

.sent_messages {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 2em;
    margin-top: 3%;
    /* border: 1px brown solid; */
}

.tweet {
    background-color: #FFFFFF;
    color: #000000;
    max-width: 100%;
    padding: 1em;
    border-radius: 10px;
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 1.5em;
    color: rgba(117, 117, 117, 1);
    word-wrap: break-word;
    font-family: 'Anonymous Pro', monospace;
}
